.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.profilepic {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	display: inline-block;
	float: left;
}

.description {
	display: inline-block;
	float: right;
	width: 60%;
}

.inline {
	display: inline;
}