.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.two-col-special {
    border: 0;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.two-col-special li {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
    vertical-align: top; /* In case multi-word categories form two lines */
}


.image {
	width: 45%;
	height: 40%;
	display: inline-block;
	margin: 5% 0% 0% 3%;
}

.imagesmall {
	width: 20%;
	height: 20%;
	display: inline-block;
	margin: 5% 0% 0% 3%;
}

.imagelarge {
	width: 65%;
	height: 60%;
	display: block;
	margin: 5% 18% 5% 18%;
}

.profilepic {
	border-radius: 25%;
/*	width: 150px;
	height: 150px;*/
	max-width:100%;
	max-height:100%;
	display: inline-block;
	float: left;
	/*margin: 20px 0px 0px 30px;*/
}

.description {
	display: inline-block;
	float: right;
	width: 60%;
}

.inline {
	display: inline;
}

.padding {
	margin-left: 3%;
}

.center {
	text-align: center;
	display: inline-block;
	margin: 5% 18% 5% 18%;
}

.titleCenter {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: 0;
}



.like_p {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.role {
	margin-bottom: 8%;
	margin-left: 2%;
	/*padding-bottom: 2%*/
}



