<div class="padding" ng-controller="BrowseEventsController">

  <super-navbar>
    <super-navbar-title>
      Find Events
    </super-navbar-title>
  </super-navbar>

  <!-- Search box -->
  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon super-search placeholder-icon"></i>
      <input type="text" ng-model="query" placeholder="Search">
    </label>
  </div>

  <div class="list card" ng-repeat="event in events | filter: query" ng-click="clickedEvent(event)">
    <super-navigate location="tabs#eventinformation">
      <div class="item item-body">
        <img class="full-image" src="{{event.image}}">
        <div class="row row-center">

          <div class="col col-25">
            <div class="responsive-circle">
                <div class="day">{{event.date | date: 'd'}}</div>
                <div class="month">{{event.date | date: 'MMM'}}</div>
            </div>
          </div>

          <div class="col">
              <h2>{{event.name}}</h2>
              <h3>{{event.location}}</h3>
          </div>

        </div>
      </div>
    </super-navigate>
  </div>
</div>
