<div class="padding" ng-controller="BrowseEventsController">

  <super-navbar>
    <super-navbar-title>
      Find Events
    </super-navbar-title>
  </super-navbar>

  <!-- Search box -->
  <div class="row">
    <div class="col">
      <span>Search:</span>
    </div>
    <div class="col-80">
       <input ng-model="query">
    </div>
  </div>  

  <div class="list card" ng-repeat="event in events | filter: query" ng-click="clickedEvent(event)">
    <super-navigate location="tabs#eventinformation">
      <div class="item item-body">
        <img class="full-image" src="{{event.image}}">
        <div class="row">
          <div class="col col-20 col-center">{{event.date}}</div>
          <div class="col">
            <h2>{{event.name}}</h2>
          </div>
        </div>
      </div>
    </super-navigate>
  </div>
</div>
