<div ng-controller="EventInformationController">
  <super-navbar>
    <super-navbar-title>
      Event Information
    </super-navbar-title>
  </super-navbar>

  <p>{{event}}</p>

  <img class="full-image" src="{{event.image}}">
  <!--<div class="row">
    <div class="col"> -->
      <div class=" card">
    <div class="item item-text-wrap">
      <div class="row">
    <div class="col">
      <h2 class="padding">{{event.name}}</h2>
    </div>
    <!--<button class="col col-20 col-center">Join</button> -->
    <button class="button icon-right super-star ">Join</button>
  </div>
</div>
</div>

<div class="list list-inset">
  <div class="item">
    {{event.date}} at {{event.time}}
  </div>
  <div class="item">
    {{event.location}}
  </div>
  </div>

  <div class="card">
    <div class="item item-text-wrap">
  <p>{{event.description}}</p>
</div>

<div class="padding">
  <h3 >
    Attendees
  </h3>
</div>

  <!--<div class="padding">
    <h4>Northwestern University Swift Hall 207</h4>
    <h4>April 4 2016</h4>
    <h4>12:00 PM</h4>
    <p>Big tech firms such as Google, Amazon, and Facebook are recruiting on campus this spring</p>
    <h3>Attendees</h3>
  </div> -->

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="attendeess.length == 0">

      <super-navigate location="attendees#show" data-params-id="{{ attendees.id }}" ng-repeat="attendees in attendeess">
        <!-- <li class="item item-icon-right"> -->
        <div class="imagesmall">
          <img class="profilepic" ng-src="{{attendees['Image URL']}}"></img>
          <!-- <div class="description">
            <span ng-bind="attendees['Name']"></span>
            <br>
            <span class="inline" ng-bind="attendees['Title']"></span> 
            <p class="inline"> at </p>
            <span class="inline" ng-bind="attendees['Company']"></span>
            <i class="icon super-ios-arrow-right"></i>
          </div> -->
        <!-- </li> -->
        </div>
      </super-navigate>

    </ul>

    <h4 ng-show="attendeess.length == 0" class="assertive padding">
      No attendeess found. Create one?
    </h4>

    <!-- <super-modal-show location="attendees#new">
      <button class="button button-full button-positive">
        Create a new attendees
      </button>
    </super-modal-show> -->
  </div>
</div>
