<div ng-controller="EventInformationController">
  <super-navbar>
    <super-navbar-title>
      Event Information
    </super-navbar-title>
  </super-navbar>

  <img class="full-image" src="{{event.image}}">
  <!--<div class="row">
    <div class="col"> -->
  <div class=" card">
    <div class="item item-text-wrap">
      <h2 class="padding">{{event.name}}</h2>
    </div>

      <!-- Join events -->
    <div class="item">
      <div class="row">
        <!-- <button class="button button-full icon-left super-star"> -->
        <button ng-click="join()" ng-class="{'button button-block': joinStatus === 'Join', 'button button-block button-balanced': joinStatus === 'Joined'}">
          {{joinStatus}}
        </button>
      </div>

      <div class="row list">
          <label class="item item-radio button button">
            <input type="radio" name="group" ng-model="joinRole" value="student" ng-change="roleChange()">
            <div class="item-content item-role">
              Student
            </div>
            <i class="radio-icon super-checkmark role-checkmark"></i>
          </label>

          <label class="item item-radio button">
            <input type="radio" name="group" ng-model="joinRole" value="recruiter" ng-change="roleChange()">
            <div class="item-content item-role">
              Recruiter
            </div>
              <i class="radio-icon super-checkmark role-checkmark"></i>
          </label>
      </div>
    </div>
  </div>

  <div class="list list-inset">
    <div class="item">
      {{event.date | date: 'MMM d'}} at {{event.time}}
    </div>
    <div class="item">
      {{event.location}}
    </div>
  </div>

  <div class="card">
    <div class="item item-text-wrap">
      <p>{{event.description}}</p>
    </div>

  <div>
    <super-navigate location="tabs#attendees">
    <a class="button icon-right super-chevron-right button-clear button-dark" ng-click="clickedEvent()">Attendees</a>
    </super-navigate>
  </div>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="event.attendees.length == 0">

      <super-navigate location="tabs#show" ng-repeat="attendee in attendees">
        <div class="imagesmall">
          <img class="profilepic" ng-src="{{attendee.image}}" ng-click="clickedAttendee(attendee)"></img>
        </div>
      </super-navigate>

    </ul>

    <h4 ng-show="attendees.length == 0" class="assertive padding">
      No attendeess found. Create one?
    </h4>

    </div>
  </div>
</div>
