<div class="padding" ng-controller="MyEventsController">

  <super-navbar>
    <super-navbar-title>
      My Events
    </super-navbar-title>
  </super-navbar>



  <div class="list card" ng-repeat="event in events" ng-click="clickedEvent(event)">
    <super-navigate location="tabs#attendees">
      <div class="item item-body">
        <img class="full-image" src="{{event.image}}">

        <div class="row row-center">

          <div class="col col-25">
            <div class="responsive-circle">
                <div class="day">{{event.date | date: 'd'}}</div>
                <div class="month">{{event.date | date: 'MMM'}}</div>
            </div>                
          </div>

          <div class="col">
              <h2>{{event.name}}</h2>
              <h3>{{event.location}}</h3>
          </div>   
          
        </div>
      </div>
    </super-navigate>
  </div>
  <!-- <img class="profilepic" ng-src="{{img_url}}"></img> -->

  <input type="submit" ng-click="logout()" value="Log out"/>
</div>




