<div class="padding" ng-controller="MyEventsController">
  <super-navbar>
    <super-navbar-title>
      My Events
    </super-navbar-title>
  </super-navbar>

  <div class="list card">
    <super-navigate location="tabs#attendees">
      <div class="item item-body">
        <img class="full-image" src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xpt1/t31.0-8/12890924_10154101063231289_6196468083804577985_o.jpg">
        <div class="row">
          <div class="col col-20 col-center">April 4</div>
          <div class="col">
            <h2>Spring Recruitment Fair</h2>
          </div>
        </div>
      </div>
    <super-navigate>
  </div>
</div>

