<div class="padding" ng-controller="SettingsController">

  <super-navbar>
    <super-navbar-title>
      Settings
    </super-navbar-title>
  </super-navbar>

  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Email Address" ng-model="email">
    </label>
    <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="password">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Name" ng-model="name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Company" ng-model="company">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Position" ng-model="position">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Linkedin URL" ng-model="linkedin">
    </label>
    <label class="item item-radio">
      <input type="radio" name="group" value="student" checked="checked" ng-model="role">
      <div class="item-content">
        Student
      </div>
      <i class="radio-icon super-checkmark"></i>
    </label>
    <label class="item item-radio">
      <input type="radio" name="group" value="recruiter" ng-model="role">
      <div class="item-content">
        Recruiter
      </div>
      <i class="radio-icon super-checkmark"></i>
    </label>
  </div>
  <div class = "padding">
    <button class="button button-block button-positive" ng-click="submit()">Submit</button>
  </div>
    <p>check {{test}}</p>
</div>




