<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      User Info
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

      <div class="imagelarge">
        <img class="profilepic" ng-src="{{attendee.image}}"></img>
      </div>

      <div class="center">
        <h2 ng-bind="attendee.name"></h2>
        <h5>Company: <span ng-bind="attendee.company"></span></h5> 
        <h5>Title: <span ng-bind="attendee.title"></span></h5>
        <h5>Phone: <span ng-bind="attendee.phone"></span></h5>  
        <a class="button button-small button-positive" href="{{attendee.LinkedinURL}}">View Linkedin profile</a>
        <a class="button button-small button-positive" href="mailto:{{attendee.email}}">Draft Email</a>
      </div>
      


      <!-- <super-modal-show location="attendees#edit?id={{ attendees.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(attendees.id)" class="button button-block button-negative">
        Remove
      </button> -->
    </div>
  </div>
</div>
