<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      User Info
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

      <div class="imagelarge">
        <img class="profilepic" ng-src="{{attendee.image}}"></img>
      </div>

      <div class="center attendeeinfo">
        <h2 ng-bind="attendee.name"></h2>
        <p><strong>Company:</strong> <span ng-bind="attendee.company"></span></p> 
        <p><strong>Title:</strong> <span ng-bind="attendee.title"></span></p>
        <p><strong>Phone:</strong> <span ng-bind="attendee.phone"></span></p>  
        <a class="button button-positive" href="{{attendee.LinkedinURL}}">
          <i class="icon fa fa-linkedin"></i>
        </a>
        <a class="button button-positive" href="mailto:{{attendee.email}}">
          <i class="icon super-email"></i>
        </a>
      </div>
      


      <!-- <super-modal-show location="attendees#edit?id={{ attendees.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(attendees.id)" class="button button-block button-negative">
        Remove
      </button> -->
    </div>
  </div>
</div>
